# Jira configuration
JIRA_URL=https://ebanking.atlassian.net
JIRA_USER=yajjuvarapu.nagaraju@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0vvpH9KtQDikePnWFoFTvG2x-0ReMU0de9h32mPaqvo5nJ7ZSXlT2fI74UgC7UJCnTdMjtRXvqjV4S_5Xl9nbudUgFtq0OabvnYotv8QL4Zq3CN_XVk0sfVe6eALdrMmYfqsy3rDzC6bZAqNR0uO1-llEy8LGCfoWIxJDieJkxkE=11C24848

# Local MySQL configuration
MYSQL_URL=mysql://root@localhost:3306/bankmsdb
# phpMyAdmin: http://localhost/phpmyadmin/
# MySQL username: root
# MySQL password: (not required)
